html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  white-space: nowrap;
}

.marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
  /* &:hover {
    animation-play-state: paused;
    color: red;
  } */
}

span {
  float: left;
  overflow: hidden;
  width: 100%;
  font-size: 7.65rem;
  font-weight: 800;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(85, 60, 154, 0.36);
  text-transform: uppercase;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
